<nav class="navbar navbar-default">
  <div class="container-fluid">

      <ul class="nav navbar-nav navbar-right">
	  <li><a routerLink="/secure/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/secure/complaints" routerLinkActive="active">Complaints</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">... <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-toggle="modal" data-target=".add-complaint-modal"  href="">Add Complaint</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
	  
	  <!--         ADD COMPLAINT MODAL                    -->
	  		<div class="modal fade add-complaint-modal" tabindex="-1" role="dialog">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">New Complaint</h4>
					  </div>
					  <div class="modal-body">
						<form class="form-group" id="add-complaint-form" (ngSubmit)="add_complaint(newcomplaint.value)" #newcomplaint="ngForm">
							<h4 class="modal-title" style="border-bottom:1px solid #eee">Customer Info</h4>

								<div class="row">
									<div class="col-xs-4">
										<div class="form-group">
												<input type="text" class="form-control" name="first_name" id="cust-name" placeholder="First Name"required ngModel>
										</div>
									</div>
									<div class="col-xs-4">
										<div class="form-group">
												<input type="text" class="form-control" name="last_name" id="cust-name" placeholder="Last Name"required ngModel>
										</div>
									</div>
								</div>
								<div class="form-group">
									<textarea type="text" class="form-control" name="cust_contact" id="cust-contact" placeholder="Contact info..."required ngModel></textarea>
								</div>

							<h4 class="modal-title" style="border-bottom:1px solid #eee">Complaint Info</h4>
						  
							<div class="form-group">
							<select class="form-control" name="complaint_type" id="complaint-type">
							  <option value=1>Food Order Mistake</option>
							  <option value=2>Customer Comment</option>
							  <option value=3>Customer Mistake</option>
							  <option value=4>Service Complaint</option>
							</select>
						  </div>
						  <div class="form-group">
							<textarea type="text" class="form-control" name="complaint" id="complaint" placeholder="Complaint..."required ngModel></textarea>
						  </div>
						  <div class="form-group">
							<textarea type="text" class="form-control" name="comments" id="comments" placeholder="Comments..."required ngModel></textarea>
						  </div>

							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					  </div>
					</div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
		</div><!-- /.container-fluid -->
</nav>
    <router-outlet></router-outlet>
